@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Web Revamp Vacation Manager</h1>
    <a class="btn btn-primary nav-link text-white mt-5" asp-area="" asp-controller="Approvals" asp-action="Index">View Employees on vacation</a>
</div>
